<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>提示</title>
  <link rel="stylesheet" href="/admin/css/bootstrap.min.css"  />
  <link rel="stylesheet" href="/admin/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/admin/css/errorpage.css" />
</head>
<body>
  <div class="error">
    <div class="well">
      <h1>404</h1>
      <h3>很抱歉！您访问的页面无法找到...</h3>
      <div class="center">
        <a  class="btn btn-return">
          <i class="icon-arrow-left"></i>
          返回
        </a>
        <a  class="btn btn-index">
          <i class="icon-dashboard"></i>
          首页
        </a>
      </div>
    </div>
  </div>
</body>
</html>

