<div id="templatemo_footer">
  <div>
    <p>Copyright ©2014 湖南曼度尼斯服饰有限公司  All Rights <br><a href="/admin/users/login" target="_blank">登陆后台管理系统</a></p>
  </div>
</div>
<script src="/client/js/jquery.min.js"></script>
<script src="/client/js/jquery-ui.min.js"></script>
<script src="/client/js/bootstrap.min.js"></script>
<script src="/client/js/jquery.singlePageNav.min.js"></script>
<script src="/client/js/unslider.min.js"></script>
<script src="/client/js/templatemo_script.js"></script>
</body>
</html>
