<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>湖南曼度尼斯服饰有限公司</title>
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <meta name="description" content="曼度尼斯" />
  <meta name="author" content="曼度尼斯">
  <link rel="shortcut icon" href="./favicon.png" />
  <link href="/client/css/font-awesome.min.css" rel="stylesheet">
  <link href="/client/css/bootstrap.min.css" rel="stylesheet">
  <link href="/client/css/camera.css" rel="stylesheet">
  <link href="/client/css/style.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="/client/js/html5shiv.js"></script>
  <script src="/client/js/respond.min.js"></script>
  <![endif]-->
</head>
<body>

