<% include header %>

<!-- 图片轮播模块-start -->
<div class="banner" id="templatemo_banner_slide">
  <ul>
    <li class="templatemo_banner_slide_01">
      <div class="slide_caption">
        <h1>湖南曼度尼斯服饰有限公司</h1>
        <p>用心打造我们的品牌, 为顾客提供时尚、个性化的服饰</p>
      </div>
    </li>
    <li class="templatemo_banner_slide_02">
      <div class="slide_caption">
        <h1>湖南曼度尼斯服饰有限公司</h1>
        <p>用心打造我们的品牌, 为顾客提供时尚、个性化的服饰</p>
      </div>
    </li>
    <li class="templatemo_banner_slide_03">
      <div class="slide_caption">
        <h1>湖南曼度尼斯服饰有限公司</h1>
        <p>用心打造我们的品牌, 为顾客提供时尚、个性化的服饰</p>
      </div>
    </li>
  </ul>
</div>
<!-- 图片轮播模块-end -->

<!-- 顶部栏收缩模块-start -->
<div id="templatemo_mobile_menu">
  <ul class="nav nav-pills nav-stacked">
    <li><a href="#templatemo_banner_slide"><i class="glyphicon glyphicon-home"></i> &nbsp; 首页</a></li>
    <li><a href="#templatemo_about"><i class="glyphicon glyphicon-briefcase"></i> &nbsp; 关于</a></li>
    <li><a href="#templatemo_events"><i class="glyphicon glyphicon-bullhorn"></i> &nbsp; 活动</a></li>
    <li><a href="#templatemo_timeline"><i class="glyphicon glyphicon-calendar"></i> &nbsp; 时间</a></li>
    <li><a href="#templatemo_contact"><i class="glyphicon glyphicon-phone-alt"></i> &nbsp; 联系</a></li>
  </ul>
</div>
<!-- 顶部栏收缩模块-end -->

<!-- 顶部栏模块-start -->
<div class="container_wapper">
  <div id="templatemo_banner_menu">
    <div class="container-fluid">
      <div class="col-xs-4 templatemo_logo">
        <a rel="nofollow">
          <img src="" id="logo_img" alt="" />
          <h1 id="logo_text"><span>湖南曼度尼斯服饰</span></h1>
        </a>
      </div>
      <div class="col-sm-8 hidden-xs">
        <ul class="nav nav-justified">
          <li><a href="#templatemo_banner_slide">首页</a></li>
          <li><a href="#templatemo_about">关于</a></li>
          <li><a href="#templatemo_events">活动</a></li>
          <li><a href="#templatemo_timeline">时间</a></li>
          <li><a href="#templatemo_contact">联系</a></li>
        </ul>
      </div>
      <div class="col-xs-8 visible-xs">
        <a href="#" id="mobile_menu"><span class="glyphicon glyphicon-th-list"></span></a>
      </div>
    </div>
  </div>
</div>
<!-- 顶部栏模块-end -->

<!-- 关于我们模块-start -->
<div id="templatemo_about" class="container_wapper">
  <div class="container-fluid">
    <h1>关于我们</h1>
    <div class="col-sm-6 col-md-3 about_icon">
      <div class="imgwap mission"><i class="fa fa-rocket"></i></div>
      <h2>收入</h2>
      <p>公司主要的收入将用于公益事业的发展</p>
    </div>
    <div class="col-sm-6 col-md-3 about_icon">
      <div class="imgwap product"><i class="fa fa-cubes"></i></div>
      <h2>机会</h2>
      <p>公司将提供大量的机会给年青人</p>
    </div>
    <div class="col-sm-6 col-md-3 about_icon">
      <div class="imgwap testimonial"><i class="fa fa-bar-chart-o"></i></div>
      <h2>发展</h2>
      <p>公司具有良好的发展势头</p>
    </div>
    <div class="col-sm-6 col-md-3 about_icon">
      <div class="imgwap statistic"><i class="fa fa-comments"></i></div>
      <h2>社交媒体</h2>
      <p>公司和多家媒体建立了良好的合作工作</p>
    </div>
  </div>
</div>
<!-- 关于我们模块-end -->

<!-- 品牌介绍模块-start -->
<div id="templatemo_events" class="container_wapper">
  <div class="container-fluid">
    <h1>品牌介绍</h1>
    <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
      <div class="event_box_wap event_animate_left">
        <div class="event_box_img">
          <img src="/client/images/templatemo_event_01.jpg" class="img-responsive" alt="Web Design Trends" />
        </div>
        <div class="event_box_caption">
          <h1>生产方式</h1>
          <p><span class="glyphicon glyphicon-map-marker"></span> 健康的生产方式</p>
          <p>我们将常规货期产品与快线产品结合起来，以保证在最正确的时间将最潮流的款式提供给顾客。这种灵活、健康的生产方式使我们的品牌始终保持活力、领先时尚，同时也吸引到众多优秀的合作者。</p>
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
      <div class="event_box_wap event_animate_right">
        <div class="event_box_img">
          <img src="/client/images/templatemo_event_02.jpg" class="img-responsive" alt="Free Bootstrap Seminar" />
        </div>
        <div class="event_box_caption">
          <h1>产品与设计</h1>
          <p><span class="glyphicon glyphicon-map-marker"></span> 创新的产品设计</p>
          <p>我们相信好的产品与设计、采购和销售息息相关。在公司，我们致力于与供应商合作伙伴关系的发展，并感谢他们的付出与努力。</p>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- 品牌介绍模块-end -->

<!-- 时间模块-start -->
<div id="templatemo_timeline" class="container_wapper">
  <h1>时间</h1>
  <div class="container-fluid">
    <div class="time_line_wap">
      <div class="time_line_caption">2016年</div>
      <div class="time_line_paragraph">
        <h1>公司成立</h1>
        <p>
          <span class="glyphicon glyphicon-user"></span> <a href="#">131名员工</a> &nbsp;&nbsp;
          <span class="glyphicon glyphicon-bookmark"></span> <a href="#">20+加盟店</a>, <a href="#"></a> &nbsp;&nbsp;
          <span class="glyphicon glyphicon-edit"></span> <a href="#">5家工厂</a>
        </p>
        <p>湖南曼度尼斯服饰有限公司以互联网+思维坚实创业、稳步发展，赢得了各行业人士的热切关注，并得到社会及各级领导的一致认可。</p>
      </div>
    </div>
    <div class="time_line_wap">
      <div class="time_line_caption">2015年</div>
      <div class="time_line_paragraph">
        <h1>公司成立</h1>
        <p>
          <span class="glyphicon glyphicon-user"></span> <a href="#">100名员工</a> &nbsp;&nbsp;
          <span class="glyphicon glyphicon-bookmark"></span> <a href="#">16+加盟店</a>, <a href="#"></a> &nbsp;&nbsp;
          <span class="glyphicon glyphicon-edit"></span> <a href="#">4家工厂</a>
        </p>
        <p>湖南曼度尼斯服饰有限公司以互联网+思维坚实创业、稳步发展，赢得了各行业人士的热切关注，并得到社会及各级领导的一致认可。</p>
      </div>
    </div>
    <div class="time_line_wap">
      <div class="time_line_caption">2014年</div>
      <div class="time_line_paragraph">
        <h1>公司成立</h1>
        <p>
          <span class="glyphicon glyphicon-user"></span> <a href="#">50名员工</a> &nbsp;&nbsp;
          <span class="glyphicon glyphicon-bookmark"></span> <a href="#">4+加盟店</a>, <a href="#"></a> &nbsp;&nbsp;
          <span class="glyphicon glyphicon-edit"></span> <a href="#">2家工厂</a>
        </p>
        <p>湖南曼度尼斯服饰有限公司以互联网+思维坚实创业、稳步发展，赢得了各行业人士的热切关注，并得到社会及各级领导的一致认可。</p>
      </div>
    </div>
    <div class="time_line_wap">
      <div class="time_line_caption">2013年</div>
      <div class="time_line_paragraph">
        <h1>公司成立</h1>
        <p>
          <span class="glyphicon glyphicon-user"></span> <a href="#">20名员工</a> &nbsp;&nbsp;
          <span class="glyphicon glyphicon-bookmark"></span> <a href="#">2+加盟店</a>, <a href="#"></a> &nbsp;&nbsp;
          <span class="glyphicon glyphicon-edit"></span> <a href="#">1家工厂</a>
        </p>
        <p>湖南曼度尼斯服饰有限公司以互联网+思维坚实创业、稳步发展，赢得了各行业人士的热切关注，并得到社会及各级领导的一致认可。</p>
      </div>
    </div>
  </div>
</div>
<!-- 时间模块-end -->

<!-- 联系我们模块-start -->
<div id="templatemo_contact" class="container_wapper">
  <div class="container-fluid">
    <h1>联系</h1>
    <div class="col-md-4">
      <h2>联系信息</h2>
      <p>请根据以下方式和我们联系</p>
      <br>
      <p><strong>简历投递邮箱：</strong> <br /><strong>联系电话：</strong> <br /><strong>网址：</strong> www.shyang.work<br /><strong>地址:</strong>湖南省长沙市高新区</p>
    </div>
    <form action="#" method="post" class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <h2>发送查询</h2>
        </div>
        <div class="col-md-6">
          <p>姓名</p>
          <input type="text" name="name" id="name" placeholder="你的姓名" />
        </div>
        <div class="col-md-6">
          <p>邮箱</p>
          <input type="text" name="email" id="email" placeholder="你的邮箱" />
        </div>
        <div class="col-md-12">
          <p>主题</p>
          <input type="text" name="subject" id="subject" placeholder="你的主题" />
        </div>
        <div class="col-md-12">
          <p>消息</p>
          <textarea name="message" id="message"  placeholder="请填写你的消息"></textarea>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-offset-6">
          <button type="submit">发送</button>
        </div>
        <div class="col-xs-6 col-sm-3">
          <button type="reset">重置</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- 联系我们模块-end -->

<% include footer %>
